.app {
  align-items: center;
  display: flex;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;

  &__form {
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 90%;
    }
  }
}
