.form {
  position: relative;
  min-width: 300px;

  &__field {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    min-width: 500px;
  }

  @media screen and (min-width: 1024px) {
    min-width: 800px;
  }
}
