.form {
  position: relative;
  display: flex;
  width: 100%;
  flex: 0 0 100%;
  text-align: center;

  &__field {
    width: 100%;
    margin-right: 10px;
  }

  &__button {
    display: flex;
    padding-bottom: 1.34375em; // the measurement of the input padding-bottom
  }
}

.table * {
  text-align: center;
  justify-content: center;
}
